### Decsion Trees
A file to explore applicaitons of Decision Tree Classifiers for predicting the winner of a fight

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import PolynomialFeatures

In [29]:
path = os.getcwd()
p = path.removesuffix('ufcPredictionProject')
p= p+'BossData.csv'
p

'C:\\Users\\walkowae\\Documents\\GitHub\\BossData.csv'

In [30]:
df = pd.read_csv(p)

df.head(3)

,Unnamed: 0,Fighter,Winner,Referee,date,location,title_bout,weight_class,Opp_avg_KD,Opp_avg_opp_KD,...,THEIR_win_by_Decision_Unanimous,THEIR_win_by_KO/TKO,THEIR_win_by_Submission,THEIR_win_by_TKO_DoctoTHEIR_Stoppage,THEIR_Stance,THEIR_Height_cms,THEIR_Reach_cms,THEIR_Weight_lbs,Opp_age,THEIR_age
0,NaN,Aaron Phillips,Loss,Kevin Nix,41874,"Tulsa, Oklahoma, USA",False,Bantamweight,0.0,0.0,...,0,0,0,0,Southpaw,175.26,180.34,135,27,25
1,NaN,Aaron Riley,Loss,Randy Corley,41482,"Seattle, Washington, USA",False,Lightweight,0.0,1.0,...,3,0,0,0,Southpaw,172.72,175.26,155,31,32
2,NaN,Aaron Riley,Win,Kevin Mulhall,40033,"Philadelphia, Pennsylvania, USA",False,Lightweight,0.5,0.0,...,1,0,0,0,Southpaw,172.72,175.26,155,24,28

In [31]:
df.columns

Index(['Unnamed: 0', 'Fighter', 'Winner', 'Referee', 'date', 'location',
       'title_bout', 'weight_class', 'Opp_avg_KD', 'Opp_avg_opp_KD',
       ...
       'THEIR_win_by_Decision_Unanimous', 'THEIR_win_by_KO/TKO',
       'THEIR_win_by_Submission', 'THEIR_win_by_TKO_DoctoTHEIR_Stoppage',
       'THEIR_Stance', 'THEIR_Height_cms', 'THEIR_Reach_cms',
       'THEIR_Weight_lbs', 'Opp_age', 'THEIR_age'],
      dtype='object', length=142)

In [32]:
df = df.drop(['Unnamed: 0'], axis = 1)
df.head(3)

,Fighter,Winner,Referee,date,location,title_bout,weight_class,Opp_avg_KD,Opp_avg_opp_KD,Opp_avg_SIG_STR_pct,...,THEIR_win_by_Decision_Unanimous,THEIR_win_by_KO/TKO,THEIR_win_by_Submission,THEIR_win_by_TKO_DoctoTHEIR_Stoppage,THEIR_Stance,THEIR_Height_cms,THEIR_Reach_cms,THEIR_Weight_lbs,Opp_age,THEIR_age
0,Aaron Phillips,Loss,Kevin Nix,41874,"Tulsa, Oklahoma, USA",False,Bantamweight,0.0,0.0,0.250,...,0,0,0,0,Southpaw,175.26,180.34,135,27,25
1,Aaron Riley,Loss,Randy Corley,41482,"Seattle, Washington, USA",False,Lightweight,0.0,1.0,0.535,...,3,0,0,0,Southpaw,172.72,175.26,155,31,32
2,Aaron Riley,Win,Kevin Mulhall,40033,"Philadelphia, Pennsylvania, USA",False,Lightweight,0.5,0.0,0.360,...,1,0,0,0,Southpaw,172.72,175.26,155,24,28

In [33]:
nunique = df.nunique()
cols_to_drop = nunique[nunique == 1].index
print(cols_to_drop)
df = df.drop(cols_to_drop, axis=1)
df.head()

Index([], dtype='object')

,Fighter,Winner,Referee,date,location,title_bout,weight_class,Opp_avg_KD,Opp_avg_opp_KD,Opp_avg_SIG_STR_pct,...,THEIR_win_by_Decision_Unanimous,THEIR_win_by_KO/TKO,THEIR_win_by_Submission,THEIR_win_by_TKO_DoctoTHEIR_Stoppage,THEIR_Stance,THEIR_Height_cms,THEIR_Reach_cms,THEIR_Weight_lbs,Opp_age,THEIR_age
0,Aaron Phillips,Loss,Kevin Nix,41874,"Tulsa, Oklahoma, USA",False,Bantamweight,0.00000,0.0,0.250000,...,0,0,0,0,Southpaw,175.26,180.34,135,27,25
1,Aaron Riley,Loss,Randy Corley,41482,"Seattle, Washington, USA",False,Lightweight,0.00000,1.0,0.535000,...,3,0,0,0,Southpaw,172.72,175.26,155,31,32
2,Aaron Riley,Win,Kevin Mulhall,40033,"Philadelphia, Pennsylvania, USA",False,Lightweight,0.50000,0.0,0.360000,...,1,0,0,0,Southpaw,172.72,175.26,155,24,28
3,Aaron Riley,Win,Mario Yamasaki,39767,"Las Vegas, Nevada, USA",False,Lightweight,0.00000,0.0,0.398438,...,0,0,0,0,Southpaw,172.72,175.26,155,31,27
4,Aaron Simpson,Loss,Darryl Guthmiller,41187,"Minneapolis, Minnesota, USA",False,Welterweight,0.03125,0.0,0.516367,...,4,2,0,0,Orthodox,182.88,185.42,170,32,38

In [34]:
OppStartIndex = df.columns.get_loc('Opp_avg_KD')
TheirStartIndex = df.columns.get_loc('THEIR_avg_KD')
print('Index Where the Figthers Data Starts: ', TheirStartIndex)
print('Index Where Opponent Data Starts: ', OppStartIndex)

Index Where the Figthers Data Starts:  73
Index Where Opponent Data Starts:  7

In [35]:
dfnew = df.iloc[:,0:7]
dfnew.head(3)

,Fighter,Winner,Referee,date,location,title_bout,weight_class
0,Aaron Phillips,Loss,Kevin Nix,41874,"Tulsa, Oklahoma, USA",False,Bantamweight
1,Aaron Riley,Loss,Randy Corley,41482,"Seattle, Washington, USA",False,Lightweight
2,Aaron Riley,Win,Kevin Mulhall,40033,"Philadelphia, Pennsylvania, USA",False,Lightweight

In [36]:
dfOpp = df.iloc[:,7:73]
dfTheir = df.iloc[:,73:-2]
dfTheir.head(3)

,THEIR_avg_KD,THEIR_avg_opp_KD,THEIR_avg_SIG_STR_pct,THEIR_avg_opp_SIG_STR_pct,THEIR_avg_TD_pct,THEIR_avg_opp_TD_pct,THEIR_avg_SUB_ATT,THEIR_avg_opp_SUB_ATT,THEIR_avg_REV,THEIR_avg_opp_REV,...,THEIR_win_by_Decision_Majority,THEIR_win_by_Decision_Split,THEIR_win_by_Decision_Unanimous,THEIR_win_by_KO/TKO,THEIR_win_by_Submission,THEIR_win_by_TKO_DoctoTHEIR_Stoppage,THEIR_Stance,THEIR_Height_cms,THEIR_Reach_cms,THEIR_Weight_lbs
0,0.0,0.000000,0.450000,0.540000,0.000000,0.620000,1.000000,1.0,1.0,1.0,...,0,0,0,0,0,0,Southpaw,175.26,180.34,135
1,0.0,0.039062,0.296953,0.377578,0.137031,0.134766,0.007812,0.0,0.0,0.0,...,0,0,3,0,0,0,Southpaw,172.72,175.26,155
2,0.0,0.625000,0.431250,0.391250,0.312500,0.156250,0.125000,0.0,0.0,0.0,...,0,0,1,0,0,0,Southpaw,172.72,175.26,155

In [37]:
dfOpp.head(3)

,Opp_avg_KD,Opp_avg_opp_KD,Opp_avg_SIG_STR_pct,Opp_avg_opp_SIG_STR_pct,Opp_avg_TD_pct,Opp_avg_opp_TD_pct,Opp_avg_SUB_ATT,Opp_avg_opp_SUB_ATT,Opp_avg_REV,Opp_avg_opp_REV,...,Opp_win_by_Decision_Majority,Opp_win_by_Decision_Split,Opp_win_by_Decision_Unanimous,Opp_win_by_KO/TKO,Opp_win_by_Submission,Opp_win_by_TKO_Doctor_Stoppage,Opp_Stance,Opp_Height_cms,Opp_Reach_cms,Opp_Weight_lbs
0,0.0,0.0,0.250,0.55,0.00,1.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,Southpaw,177.80,177.8,135
1,0.0,1.0,0.535,0.47,0.13,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0,0,Southpaw,172.72,177.8,155
2,0.5,0.0,0.360,0.36,0.15,0.5,1.0,0.0,0.0,0.0,...,0,1,0,1,0,0,Southpaw,175.26,177.8,155

In [38]:
Their_category = dfTheir.select_dtypes(exclude=np.number)
Their_numerical = dfTheir.select_dtypes(include=np.number)
Opp_category = dfOpp.select_dtypes(exclude=np.number)
Opp_numerical = dfOpp.select_dtypes(include=np.number)

In [39]:
Their_numerical.head(3)

,THEIR_avg_KD,THEIR_avg_opp_KD,THEIR_avg_SIG_STR_pct,THEIR_avg_opp_SIG_STR_pct,THEIR_avg_TD_pct,THEIR_avg_opp_TD_pct,THEIR_avg_SUB_ATT,THEIR_avg_opp_SUB_ATT,THEIR_avg_REV,THEIR_avg_opp_REV,...,THEIR_losses,THEIR_win_by_Decision_Majority,THEIR_win_by_Decision_Split,THEIR_win_by_Decision_Unanimous,THEIR_win_by_KO/TKO,THEIR_win_by_Submission,THEIR_win_by_TKO_DoctoTHEIR_Stoppage,THEIR_Height_cms,THEIR_Reach_cms,THEIR_Weight_lbs
0,0.0,0.000000,0.450000,0.540000,0.000000,0.620000,1.000000,1.0,1.0,1.0,...,1,0,0,0,0,0,0,175.26,180.34,135
1,0.0,0.039062,0.296953,0.377578,0.137031,0.134766,0.007812,0.0,0.0,0.0,...,5,0,0,3,0,0,0,172.72,175.26,155
2,0.0,0.625000,0.431250,0.391250,0.312500,0.156250,0.125000,0.0,0.0,0.0,...,3,0,0,1,0,0,0,172.72,175.26,155

In [40]:
Opp_category.head(3)

  Opp_Stance
0   Southpaw
1   Southpaw
2   Southpaw

In [41]:
dfnew.head(3)

,Fighter,Winner,Referee,date,location,title_bout,weight_class
0,Aaron Phillips,Loss,Kevin Nix,41874,"Tulsa, Oklahoma, USA",False,Bantamweight
1,Aaron Riley,Loss,Randy Corley,41482,"Seattle, Washington, USA",False,Lightweight
2,Aaron Riley,Win,Kevin Mulhall,40033,"Philadelphia, Pennsylvania, USA",False,Lightweight

In [42]:
dfnew['Fighters_Stance'] = Their_category
dfnew['Opponent_Stance'] = Opp_category
dfnew.head(3)

,Fighter,Winner,Referee,date,location,title_bout,weight_class,Fighters_Stance,Opponent_Stance
0,Aaron Phillips,Loss,Kevin Nix,41874,"Tulsa, Oklahoma, USA",False,Bantamweight,Southpaw,Southpaw
1,Aaron Riley,Loss,Randy Corley,41482,"Seattle, Washington, USA",False,Lightweight,Southpaw,Southpaw
2,Aaron Riley,Win,Kevin Mulhall,40033,"Philadelphia, Pennsylvania, USA",False,Lightweight,Southpaw,Southpaw

In [43]:

for cols in Their_numerical.columns:
    #print(cols)
    label = cols.removeprefix('THEIR')
    label = 'DIFF' + label
    index = Their_numerical.columns.get_loc(cols)
    colOpp = Opp_numerical.columns[index]
    dfnew[label] = Their_numerical[cols] - Opp_numerical[colOpp]

In [44]:
dfnew.head(3)
## still need to add difference in age

,Fighter,Winner,Referee,date,location,title_bout,weight_class,Fighters_Stance,Opponent_Stance,DIFF_avg_KD,...,DIFF_losses,DIFF_win_by_Decision_Majority,DIFF_win_by_Decision_Split,DIFF_win_by_Decision_Unanimous,DIFF_win_by_KO/TKO,DIFF_win_by_Submission,DIFF_win_by_TKO_DoctoTHEIR_Stoppage,DIFF_Height_cms,DIFF_Reach_cms,DIFF_Weight_lbs
0,Aaron Phillips,Loss,Kevin Nix,41874,"Tulsa, Oklahoma, USA",False,Bantamweight,Southpaw,Southpaw,0.0,...,0,0,0,0,0,0,0,-2.54,2.54,0
1,Aaron Riley,Loss,Randy Corley,41482,"Seattle, Washington, USA",False,Lightweight,Southpaw,Southpaw,0.0,...,4,0,0,2,0,0,0,0.00,-2.54,0
2,Aaron Riley,Win,Kevin Mulhall,40033,"Philadelphia, Pennsylvania, USA",False,Lightweight,Southpaw,Southpaw,-0.5,...,3,0,-1,1,-1,0,0,-2.54,-2.54,0

In [45]:
for col in df.columns:
    if 'age' in col:
        print(col)

Opp_win_by_TKO_Doctor_Stoppage
THEIR_win_by_TKO_DoctoTHEIR_Stoppage
Opp_age
THEIR_age

In [46]:
dfnew['Diff_age'] = df['THEIR_age'] - df['Opp_age']

In [47]:
dfnew.head(3)

,Fighter,Winner,Referee,date,location,title_bout,weight_class,Fighters_Stance,Opponent_Stance,DIFF_avg_KD,...,DIFF_win_by_Decision_Majority,DIFF_win_by_Decision_Split,DIFF_win_by_Decision_Unanimous,DIFF_win_by_KO/TKO,DIFF_win_by_Submission,DIFF_win_by_TKO_DoctoTHEIR_Stoppage,DIFF_Height_cms,DIFF_Reach_cms,DIFF_Weight_lbs,Diff_age
0,Aaron Phillips,Loss,Kevin Nix,41874,"Tulsa, Oklahoma, USA",False,Bantamweight,Southpaw,Southpaw,0.0,...,0,0,0,0,0,0,-2.54,2.54,0,-2
1,Aaron Riley,Loss,Randy Corley,41482,"Seattle, Washington, USA",False,Lightweight,Southpaw,Southpaw,0.0,...,0,0,2,0,0,0,0.00,-2.54,0,1
2,Aaron Riley,Win,Kevin Mulhall,40033,"Philadelphia, Pennsylvania, USA",False,Lightweight,Southpaw,Southpaw,-0.5,...,0,-1,1,-1,0,0,-2.54,-2.54,0,4

In [48]:
dfnew.to_csv('DifferenceData.csv')

In [49]:
y = dfnew.Winner
dfnew = dfnew.drop('Winner', axis = 1)
X_category = dfnew.select_dtypes(exclude=np.number)
X_numerical = dfnew.select_dtypes(include=np.number)
X_numerical = (X_numerical -X_numerical.mean())/X_numerical.std()
print(X_category.columns)
X_numerical.head(3)

Index(['Fighter', 'Referee', 'location', 'title_bout', 'weight_class',
       'Fighters_Stance', 'Opponent_Stance'],
      dtype='object')

,date,DIFF_avg_KD,DIFF_avg_opp_KD,DIFF_avg_SIG_STR_pct,DIFF_avg_opp_SIG_STR_pct,DIFF_avg_TD_pct,DIFF_avg_opp_TD_pct,DIFF_avg_SUB_ATT,DIFF_avg_opp_SUB_ATT,DIFF_avg_REV,...,DIFF_win_by_Decision_Majority,DIFF_win_by_Decision_Split,DIFF_win_by_Decision_Unanimous,DIFF_win_by_KO/TKO,DIFF_win_by_Submission,DIFF_win_by_TKO_DoctoTHEIR_Stoppage,DIFF_Height_cms,DIFF_Reach_cms,DIFF_Weight_lbs,Diff_age
0,-0.156372,1.549023e-17,-1.940713e-17,1.233509,-0.062272,-1.467104e-17,-1.171302,1.123312,2.234849e-17,2.334454e+00,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,-4.012845e-01,0.306109,0.0,-0.382753
1,-0.419492,1.549023e-17,-2.284703e+00,-1.468164,-0.575527,2.002422e-02,0.415398,0.008776,2.234849e-17,2.465175e-17,...,0.0,0.000000,0.948949,0.000000,0.0,0.0,3.462904e-18,-0.306109,0.0,0.191377
2,-1.392096,-9.859162e-01,1.485986e+00,0.439437,0.194599,4.627820e-01,-1.059566,-0.982898,2.234849e-17,2.465175e-17,...,0.0,-1.117962,0.474474,-0.456749,0.0,0.0,-4.012845e-01,-0.306109,0.0,0.765506

In [59]:
X_num = X_numerical.drop('date',axis =1)

X_cat = pd.get_dummies(X_category)
X_cat.columns
dfy = pd.DataFrame()
dfy['Result'] = y
X = pd.concat([dfy,X_num,X_cat],axis =1)
X.head(3)
dfW = X.iloc[:,:3]
dfA = X.Diff_age
dfR = X.DIFF_Reach_cms
xEx = pd.concat([dfW,dfA,dfR],axis=1)
xEx.head(3)

  Result   DIFF_avg_KD  DIFF_avg_opp_KD  Diff_age  DIFF_Reach_cms
0   Loss  1.549023e-17    -1.940713e-17 -0.382753        0.306109
1   Loss  1.549023e-17    -2.284703e+00  0.191377       -0.306109
2    Win -9.859162e-01     1.485986e+00  0.765506       -0.306109