### Decsion Trees
A file to explore applicaitons of Decision Tree Classifiers for predicting the winner of a fight

In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
path = os.getcwd()
p = path.removesuffix('ufcPredictionProject')
p= p+'UFCdata.csv'
p

'C:\\Users\\walkowae\\Documents\\GitHub\\UFCdata.csv'

In [4]:
df = pd.read_csv(p)
df.head(3)

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Aalon Cruz,Spike Carlyle,Scott Howard,2/29/2020,"Norfolk, Virginia, USA",Blue,False,Featherweight,NaN,NaN,...,0,0,0,0,Switch,182.88,198.12,145.0,26.0,30.0
1,Aaron Phillips,Matt Hobar,Kevin Nix,8/23/2014,"Tulsa, Oklahoma, USA",Blue,False,Bantamweight,0.0,0.0,...,0,0,0,0,Southpaw,175.26,180.34,135.0,27.0,25.0
2,Aaron Riley,Justin Salas,Randy Corley,7/27/2013,"Seattle, Washington, USA",Blue,False,Lightweight,0.0,1.0,...,3,0,0,0,Southpaw,172.72,175.26,155.0,31.0,32.0

In [6]:
df.drop('Winner', axis = 1)
X_cat = df.select_dtypes(exclude=np.number)
X_numerical = df.select_dtypes(include=np.number)
y = df.Winner
X_numerical.head(3)

,B_avg_KD,B_avg_opp_KD,B_avg_SIG_STR_pct,B_avg_opp_SIG_STR_pct,B_avg_TD_pct,B_avg_opp_TD_pct,B_avg_SUB_ATT,B_avg_opp_SUB_ATT,B_avg_REV,B_avg_opp_REV,...,R_win_by_Decision_Split,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,182.88,198.12,145.0,26.0,30.0
1,0.0,0.0,0.250,0.55,0.00,1.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,175.26,180.34,135.0,27.0,25.0
2,0.0,1.0,0.535,0.47,0.13,0.0,0.0,0.0,0.0,0.0,...,0,3,0,0,0,172.72,175.26,155.0,31.0,32.0

In [7]:
X_numerical.columns

Index(['B_avg_KD', 'B_avg_opp_KD', 'B_avg_SIG_STR_pct',
       'B_avg_opp_SIG_STR_pct', 'B_avg_TD_pct', 'B_avg_opp_TD_pct',
       'B_avg_SUB_ATT', 'B_avg_opp_SUB_ATT', 'B_avg_REV', 'B_avg_opp_REV',
       ...
       'R_win_by_Decision_Split', 'R_win_by_Decision_Unanimous',
       'R_win_by_KO/TKO', 'R_win_by_Submission',
       'R_win_by_TKO_Doctor_Stoppage', 'R_Height_cms', 'R_Reach_cms',
       'R_Weight_lbs', 'B_age', 'R_age'],
      dtype='object', length=134)

In [8]:
X_cat.columns

Index(['R_fighter', 'B_fighter', 'Referee', 'date', 'location', 'Winner',
       'title_bout', 'weight_class', 'B_Stance', 'R_Stance'],
      dtype='object')

In [10]:
df.title_bout

0       False
1       False
2       False
3       False
4       False
        ...
6007     True
6008    False
6009    False
6010    False
6011    False
Name: title_bout, Length: 6012, dtype: bool