In [11]:
## Exploring algorithms for UFC project
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

df = pd.read_csv('UFCdata.csv')
df.head(3)

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Aalon Cruz,Spike Carlyle,Scott Howard,2/29/2020,"Norfolk, Virginia, USA",Blue,False,Featherweight,NaN,NaN,...,0,0,0,0,Switch,182.88,198.12,145.0,26.0,30.0
1,Aaron Phillips,Matt Hobar,Kevin Nix,8/23/2014,"Tulsa, Oklahoma, USA",Blue,False,Bantamweight,0.0,0.0,...,0,0,0,0,Southpaw,175.26,180.34,135.0,27.0,25.0
2,Aaron Riley,Justin Salas,Randy Corley,7/27/2013,"Seattle, Washington, USA",Blue,False,Lightweight,0.0,1.0,...,3,0,0,0,Southpaw,172.72,175.26,155.0,31.0,32.0

In [3]:
X = df.drop('Winner',axis=1)
y = df.Winner

In [4]:
X.head(3)

,R_fighter,B_fighter,Referee,date,location,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,B_avg_SIG_STR_pct,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Aalon Cruz,Spike Carlyle,Scott Howard,2/29/2020,"Norfolk, Virginia, USA",False,Featherweight,NaN,NaN,NaN,...,0,0,0,0,Switch,182.88,198.12,145.0,26.0,30.0
1,Aaron Phillips,Matt Hobar,Kevin Nix,8/23/2014,"Tulsa, Oklahoma, USA",False,Bantamweight,0.0,0.0,0.250,...,0,0,0,0,Southpaw,175.26,180.34,135.0,27.0,25.0
2,Aaron Riley,Justin Salas,Randy Corley,7/27/2013,"Seattle, Washington, USA",False,Lightweight,0.0,1.0,0.535,...,3,0,0,0,Southpaw,172.72,175.26,155.0,31.0,32.0

In [5]:
X_num = X.select_dtypes(include='number')
X_cat = X.select_dtypes(exclude='number')

In [8]:
print(X_cat.shape)
X_cat.head(3)

(6012, 9)

,R_fighter,B_fighter,Referee,date,location,title_bout,weight_class,B_Stance,R_Stance
0,Aalon Cruz,Spike Carlyle,Scott Howard,2/29/2020,"Norfolk, Virginia, USA",False,Featherweight,Switch,Switch
1,Aaron Phillips,Matt Hobar,Kevin Nix,8/23/2014,"Tulsa, Oklahoma, USA",False,Bantamweight,Southpaw,Southpaw
2,Aaron Riley,Justin Salas,Randy Corley,7/27/2013,"Seattle, Washington, USA",False,Lightweight,Southpaw,Southpaw

In [10]:
X_cat = pd.get_dummies(X_cat)
X_cat.head(3)

,title_bout,R_fighter_Aalon Cruz,R_fighter_Aaron Phillips,R_fighter_Aaron Riley,R_fighter_Aaron Rosa,R_fighter_Aaron Simpson,R_fighter_Abdul Razak Alhassan,R_fighter_Abel Trujillo,R_fighter_Abubakar Nurmagomedov,R_fighter_Adam Milstead,...,B_Stance_Open Stance,B_Stance_Orthodox,B_Stance_Sideways,B_Stance_Southpaw,B_Stance_Switch,R_Stance_Open Stance,R_Stance_Orthodox,R_Stance_Sideways,R_Stance_Southpaw,R_Stance_Switch
0,False,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,False,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,False,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0